body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
  align-content: center;
  background-color: #f5f7f8;
}

header {
  max-width: 65rem;
  margin: 1rem auto 1rem;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  text-align: left;
}

.nav-right {
  text-align: end;
  display: flex;
  gap: 1rem;
}

main {
  max-width: 65rem;
  margin: 4rem auto 4rem;
  text-align: left;

  h1 {
    font-weight: 400;
  }

  p {
    font-size: larger;
  }

  .links {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;

    a {
      font-size: larger;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}
